.services__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.service {
  background: var(--color-bg-variant);
  border-radius: 2rem 2rem 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}

.service:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.servicehead {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 0 2rem qrem rgba(0, 0, 0, 0.1);
  margin: 1rem 1rem 0 1rem;
}

.servicehead h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

.servicelist {
  padding: 1rem 2rem 2rem 2rem;
}

.servicelist li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.servicelist-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.servicelist p {
  font-size: 0.9rem;
  margin-top: 5px;
}

/* -----MEDIA QUERIES----- */
@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .service {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .servicelist p {
    font-size: 0.75rem;
    margin-top: 5px;
  }
}
