.container__portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portofolioitems {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  text-align: center;
}

.portofolioitems:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portofolioitems-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portofolioitems h3 {
  margin: 1.5rem 0 2rem;
}

.portofolioitems-cta {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
}

/* -----MEDIA QUERIES----- */
@media screen and (max-width: 1024px) {
  .container__portfolio {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  h3 {
    text-align: center;
    margin: 1rem;
    font-size: 20px;
  }

  .portofolioitems-cta {
    justify-content: center;
    margin-bottom: 3.75rem;
    padding: 0.25rem 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .container__portfolio {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  h3 {
    text-align: center;
    margin: 1rem;
  }

  .portofolioitems-cta {
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.75rem;
  }
}
