.skills__container > div {
  background-color: var(--color-bg-variant);
  padding: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  transition: var(--transition);
}

.skills__container > div:hover {
  background: transparent;
  border-color: var(--color-bg-variant);
  cursor: default;
}

.skills h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.skills > img {
  max-width: 40rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills > .skills2 {
  display: none;
}

/* -----MEDIA QUERIES----- */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  .skills > .skills1 {
    display: none;
  }

  .skills > .skills2 {
    display: block;
    max-width: 10rem;
  }

  .skills__container > div {
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
  }

  section > h2 {
    margin-top: 0;
  }
}
