.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.aboutme {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.aboutme_img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.aboutme_img:hover {
  transform: rotate(0);
}

.aboutcards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.cardsitem {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.cardsitem:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
  transition: var(--transition);
}

.cardsicon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.cardsitem h5 {
  font-size: 0.95rem;
}

.cardsitem small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.aboutcontent p {
  font-size: 1rem;
  margin: 1.5rem 0;
  color: var(--color-light);
}

.aboutCTA {
  display: flex;
  gap: 1rem;
}

/* -----MEDIA QUERIES----- */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .aboutme {
    width: 40%;
    margin: 2rem auto 4rem;
  }

  .aboutcontent p {
    margin: 1rem 0 1.5rem;
  }

  #about h2 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .aboutme {
    width: 75%;
    margin: 0 auto 3rem;
  }

  .aboutcards {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 4rem;
  }

  .cardsitem {
    padding: 2rem;
  }

  .aboutcontent {
    text-align: center;
  }

  .aboutcontent p {
    margin: 1.5rem 0;
  }

  .aboutCTA {
    justify-content: center;
  }
}
