.container__certificate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.certificateitems {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  text-align: center;
}

.certificateitems:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.certificateitems-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.certificatetitle {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--color-primary-variant);
  border-radius: 2rem;
}

.certificatedesc {
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .container__certificate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .certificatetitle h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .container__certificate {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .certificatetitle h3 {
    font-size: 20px;
  }
}
