.container.contact__container {
  width: 80%;
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 5%;
}

.contactoptions {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.optionsitem {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.optionsitem:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.optionsitem-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.optionsitem a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* -----FORM----- */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

/* -----MEDIA QUERIES----- */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .button {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }

  .button {
    text-align: center;
  }
}
