header {
  height: 54rem;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* -----Header CTA----- */

.headercta {
  margin-top: 2rem;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

/* -----Header Socmed----- */
.headersocmed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 7rem;
}

.headersocmed::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.headersocmed a:hover {
  transform: scale(1.25);
}

/* -----Me----- */
.me {
  width: 22rem;
  height: 32rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
}

/* -----Scroll Down----- */
.scrolldown {
  position: absolute;
  right: -2.3rem;
  bottom: 8rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* -----MEDIA QUERIES----- */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  header {
    height: 53rem;
    padding-top: 7rem;
    overflow: hidden;
  }
  .headersocmed {
    display: block;
    position: static;
    margin-top: 2rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .headersocmed a {
    padding: 0 0.5rem 0.5rem 0;
    align-items: center;
  }

  .me {
    width: 15rem;
    height: 25rem;
    margin-top: 0rem;
    position: absolute;
    left: calc(50% - 7.5rem);
    overflow: hidden;
  }

  .scrolldown {
    display: none;
  }
}
