footer {
  background: var(--color-primary);
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 5rem;
}

footer a {
  color: var(--color-bg);
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer_copyright {
  margin-bottom: 0.75rem;
  color: var(--color-bg);
}

/* -----MEDIA QUERIES----- */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
}
