nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0.6rem 1.5rem;
    bottom: 2rem;
    gap: 0.8rem;
  }

  nav a {
    background: transparent;
    padding: 0.75rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  nav {
    padding: 0.6rem 1.5rem;
    bottom: 2rem;
    gap: 0.8rem;
  }

  nav a {
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1rem;
  }
}
